.box-header {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 16px 16px 16px 16px;
    position: relative;
    /* justify-content: space-around; */
}
.box-row {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    color: rgb(170, 170, 170);
    transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}
.box-row:hover {
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
    transform: translateY(-5px);
    color: rgb(230, 230, 230)
  }
  .repo-link:link {
    color: rgb(230, 98, 37)
  }
  .repo-link:visited {
    color: rgb(230, 98, 37)
  }
  .repo-link:hover {
    color:#eb8151
  } 
  .star-repository:link {
    color: rgb(230, 98, 37)
  }
  .star-repository:visited {
    color: rgb(230, 98, 37)
  }
  .star-repository:hover {
    color:#eb8151
  } 
  .dev-button {
    padding: 6px 14px;
    line-height: 20px;
    color: #586069;
    border: 1px solid #e1e4e8;
    width: 105px;
    font-size: 14px;
    outline: none;
  }
  .repo-button {
    padding: 6px 14px;
    line-height: 20px;
    color: #586069;
    border: 1px solid #e1e4e8;
    width: 105px;
    font-size: 14px;
    outline: none;
  }
  .repo-button-active {
    padding: 6px 14px;
    font-size: 14px;
    line-height: 20px;
    background-color:rgb(230, 98, 37);
    border: 1px solid #e1e4e8;
    width: 105px;
    outline: none;
    font-weight: 900px;
  }
  .dev-button-active {
    font-size: 14px;
    outline: none;
    padding: 6px 14px;
    line-height: 20px;
    background-color:rgb(230, 98, 37);
    border: 1px solid #e1e4e8;
    width: 105px;
  }
h1 {
    text-align: center;
}
hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 5px 20px -20px  white;
    margin: -50px auto 10px; 
  }
ul {
    padding: 0;
    list-style-type: none;
  }
.moreInfo {
      display:flex;
  }
  .option {
    color: #586069;
  }
  .avatar {
    width: 48px;
    height: 48px;
  }

@media only screen and (min-width: 500px) {

}